 @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;

}


body{
    background: #9c797da9;
    
}

.container{
    padding: 10px;
    width: 24vw;
    height: 70vh;
    margin-top: 3vh;
    margin-left: 38vw;
    background: #46656a;
    border-radius: 15px;
    box-shadow: 6px 6px 12px #161617,
                -6px -6px 12px rgb(0, 0, 0);
                
 
}
.heading{
    text-align: center;
    font-size: 50px;
    margin-top: 68px;
    color: rgba(23, 23, 23, 0.722);
}

.btn{
    margin-left: 2px;
    margin-top: 16px;
    height: 60px;
    width: 60px;
    color: #090909;
    border-radius: 10px;
    background: #c1cdb7;
    border: none;
    transition: all .3s;
    box-shadow: 5px 5px 10px #262925,
             -5px -5px 10px #2d312b;
    font-weight: 800;
    font-size: 20px;
   
  
}

.input{
    width: 340px;
    height: 120px;
    margin-left: 3px;
    margin-top: 9px;
    border-radius: 10px;
    text-align: end;
    font-size: 40px;


   
    
}
.row{
    justify-content:space-around;
    display: flex;
}


